bokworks-generate-xml/src/main/resources/static/input/bokwire/BOK_Phase1_CorePayment_v_1_1_BOK_admi_007_001_01_ReceiptAcknowledgement_20230829_0121_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_Phase1_CorePayment_v.1.1
Usage Guideline: BOK_admi.007.001.01_ReceiptAcknowledgement
Base Message: admi.007.001.01
Date of publication: 08 August 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_Jx6AYDYJEe6F1-GBvNGFRw/_Jx6AZDYJEe6F1-GBvNGFRw
Description: BOK : The ReceiptAcknowledgement message is sent by BOK to a participant and vice versa. It is sent to acknowledge the receipt of one or multiple messages sent previously. The Acknowledgement message is 1) an application receipt acknowledgement and 2) conveys information about the processing of the original message(s). In case of 2) the ReceiptAcknowledgement can be used as a Generic error message, which provides information about the status (e.g. rejection, acceptance) of an instruction.

BOK Rules for characters set: 

* All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

* All Name and Address for all actors and Related Remittance Information and Remittance are extended to support the following additional characters: Korean characters and !#$%&'*+-/=?^_`{|}~ "(),:;<>@[\] which is expressed as "BOK_Max(nnn)TextAH in data type. 
Note that "><" is escaped as follows: 
< is replaced with &lt;
> is replaced with &gt;
& is replaced with &amp;

* E-mail address/Proxy fields are extended to support the following additional characters: !#%&'*+-/=?^_`{|}~ "(),:;@[\]><$ 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-29T01:21:38+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.007.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.007.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RctAck" type="ReceiptAcknowledgementV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageReference1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageReference1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business reference(s) to one or more relevant messages previously sent by other parties, or by the same party issuing this message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to a previous message having a business relevance with this message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message which contained the given additional reference as its message reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptAcknowledgementReport2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiptAcknowledgementReport2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the original request. Identifies the message being acknowledged and its status</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdRef" type="MessageReference1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqHdlg" type="RequestHandling2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestHandling</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gives the status of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptAcknowledgementV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiptAcknowledgementV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ReceiptAcknowledgement message is sent by the transaction administrator to a member of the system and vice versa. It is sent to acknowledge the receipt of one or multiple messages sent previously. The Acknowledgement message is 1) an application receipt acknowledgement and 2) conveys information about the processing of the original message(s). In case of 2) the ReceiptAcknowledgement can be used as a Generic error message, which provides information about the status (e.g. rejection, acceptance) of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageHeader10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="ReceiptAcknowledgementReport2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides report details on the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestHandling2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestHandling2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Explains the status of the related request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StsCd" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the request, for example the result of the schema validation or a business processing result/error.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the status, in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
