bokworks-generate-xml/src/main/resources/static/input/fedwire/Fedwire_Funds_Service_Release_2025_RetrievalRequest_admi_006_001_01_20230831_2310_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Fedwire Funds Service
Collection: Fedwire Funds Service Release 2025
Usage Guideline: RetrievalRequest_admi.006.001.01
Base Message: admi.006.001.01
Date of publication: 31 August 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_ozvbgCxpEeyCOPAtSa9DrA/_sIqbYWKMEeyRCMVfnm5jiw
Description: Fedwire Funds Service Scope

A retrieval request is the message a Fedwire Funds participant uses to request the Fedwire Funds Service a copy of one or more messages previously sent or received by the Fedwire Funds participant.

Fedwire Funds Service Usage

Fedwire Funds participants can use the retrieval request to retrieve value messages, i.e., a customer credit transfer (pacs.008), a financial institution credit transfer (pacs.009), a payment return (pacs.004), and nonvalue messages, i.e., a return request (camt.056), a return request response (camt.029), a drawdown request (pain.013), or drawdown response (pain.014) message.  

Fedwire Funds participants can use the retrieval request to retrieve messages for the current or prior 2 business days only.

In response to a (successful) message retrieval request, the Fedwire Funds Service will deliver a copy of the original message that is being retrieved (e.g., pacs.008). The copy of the retrieved message will contain the business application header (head.001) and the ISO 20022 business message (e.g., pacs.008) of the original message, complemented with a new business application header (head.001) for the retrieved message flow from the Fedwire Funds Service to the Fedwire Funds participant.  

Fedwire Funds participants can request the retrieval of up to 50 messages sent or received in a single retrieval request. When a request is made to retrieve multiple messages, the Fedwire Funds Service will respond with a separate message for each retrieved message. Depending on the case that individual response will either be the delivery of a copy of a successfully retrieved message, or a message reject (admi.002) for a message that could not be retrieved.

Note: A retrieval request should not be used to obtain the processing status of a message previously sent through the Fedwire Funds Service. To obtain the processing status of a previously sent message, the Fedwire Funds participant should use a payment status request (pacs.028).
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-31T23:10:55+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.006.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RsndReq" type="ResendRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EndpointIdentifier_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EndpointIdentifier_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is an identifier for the Fedwire Funds Service participant assigned by the Federal Reserve Banks.

Note: This may be a Fedwire Sender's input source identifier (i.e., endpoint identifier, aka logical terminal) or a Fedwire Receiver's output destination identifier (i.e., endpoint identifier, aka logical terminal).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{8,8}"/>
            <xs:minLength value="8"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="TrafficType_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="EndpointIdentifier_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NA</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification120Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification120Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PrtryId" type="GenericIdentification36__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification136__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ResendRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResendRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A system member or any parties authorised by them send a ResendRequest message to the Central System (such as the T2S platform). The purpose of this request is, that the requesting party wants to receive the “original” message once again. This might be caused through technical problems on the receiving side (message could not be received or processed or is missing in the message sequencing) or for archiving purposes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements to identify the resend message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RsndSchCrit" type="ResendSearchCriteria2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResendSearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to unambiguously identify the information to be resent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResendSearchCriteria2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResendSearchCriteria2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the message(s) which should be resent.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BizDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of the business day of the requested messages the resend function is used for.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqRg" type="SequenceRange1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequenceRange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Independent counter for a range of message sequences, which are available once per party technical address.&#13;
Specifies the range of identification sequence numbers for a specific couple sender/receiver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgNmId" type="MessageNameIdentification_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the original bsiness message, which was delivered by the business sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FileRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FileReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies the file, which was delivered by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rcpt" type="PartyIdentification136__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the recipient of the report message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SequenceNumber_FedwireFunds">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceNumber_FedwireFunds</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a 6-character number identifying the sequence number of a message sent across the Fedwire Funds Service. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6,6}"/>
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SequenceRange1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceRange1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a choice of sequences.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FrToSeq" type="SequenceRange1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromToSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Particular sequence range specified between a start sequence and an end sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SequenceRange1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceRange1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a range of sequences from a start sequence to an end sequence.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrSeq" type="SequenceNumber_FedwireFunds">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start sequence of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToSeq" type="SequenceNumber_FedwireFunds">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End sequence of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrafficType_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrafficType_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different types of Fedwire Funds Service traffic.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Traffic sent across the Fedwire Funds Service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="R">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Traffic received across the Fedwire Funds Service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
