bokworks-generate-xml/src/main/resources/static/input/fedwire/Fedwire_Funds_Service_Release_2025_FedwireFundsAcknowledgement_admi_007_001_01_20230831_2310_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Fedwire Funds Service
Collection: Fedwire Funds Service Release 2025
Usage Guideline: FedwireFundsAcknowledgement_admi.007.001.01
Base Message: admi.007.001.01
Date of publication: 31 August 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_ozvbgCxpEeyCOPAtSa9DrA/_sQBCMfI3EeydrJ_Z1jgHjw
Description: Fedwire Funds Service Scope

A Fedwire Funds acknowledgement is the message the Fedwire Funds Service uses to inform a Fedwire Sender that a previously sent message was successfully processed by the Fedwire Funds Service.  

Fedwire Funds Service Usage

The Fedwire Funds acknowledgement is used to acknowledge successful processing by the Fedwire Funds Service of the following nonvalue messages exchanged between Fedwire Funds participants: payment status request (pacs.028), return request (camt.056) and return request response (camt.029), drawdown request (pain.013) and drawdown response (pain.014).
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-31T23:10:52+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.007.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.007.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RctAck" type="ReceiptAcknowledgementV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TS01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TS01</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="OMAD_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageReference1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageReference1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business reference(s) to one or more relevant messages previously sent by other parties, or by the same party issuing this message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to a previous message having a business relevance with this message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgNm" type="MessageNameIdentification_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message which contained the given additional reference as its message reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OMAD_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OMAD_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The OMAD is composed of the Output Cycle Date, the Output Destination ID, the Output Sequence Number, the Output Date, the Output Time, and the Output FRB Application ID. &#13;
&#13;
The Output Cycle Date is the Fedwire funds-transfer business day (8 characters, CCYYMMDD). &#13;
&#13;
The Output Destination ID is the unique Endpoint ID of the Fedwire Receiver (8 characters, alphanumeric). &#13;
&#13;
The Output Sequence Number should be incremental and should start with 000001 at the start of each Output Cycle Date per Output Destination ID (6 characters, numeric).&#13;
&#13;
The Output Date is the calendar date (4 characters, MMDD).&#13;
&#13;
The Output Time is the Fedwire Funds Service application time in New York City time (Eastern Time) in 24-hour clock format (4 characters, HHMM). &#13;
&#13;
The Output FRB Application ID is the Fedwire Funds Service application site that processed the message (4 characters, alphanumeric).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{34,34}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceiptAcknowledgementReport2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiptAcknowledgementReport2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the original request. Identifies the message being acknowledged and its status</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdRef" type="MessageReference1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqHdlg" type="RequestHandling2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestHandling</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gives the status of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptAcknowledgementV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiptAcknowledgementV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ReceiptAcknowledgement message is sent by the transaction administrator to a member of the system and vice versa. It is sent to acknowledge the receipt of one or multiple messages sent previously. The Acknowledgement message is 1) an application receipt acknowledgement and 2) conveys information about the processing of the original message(s). In case of 2) the ReceiptAcknowledgement can be used as a Generic error message, which provides information about the status (e.g. rejection, acceptance) of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageHeader10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rpt" type="ReceiptAcknowledgementReport2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides report details on the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestHandling2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestHandling2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Explains the status of the related request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StsCd" type="Max4AlphaNumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the request, for example the result of the schema validation or a business processing result/error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
