bokworks-generate-xml/src/main/resources/static/input/fedwire/Fedwire_Funds_Service_Release_2025_AccountReportingRequest_camt_060_001_05_20230831_2310_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Fedwire Funds Service
Collection: Fedwire Funds Service Release 2025
Usage Guideline: AccountReportingRequest_camt.060.001.05
Base Message: camt.060.001.05
Date of publication: 31 August 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_ozvbgCxpEeyCOPAtSa9DrA/_VQxMaa-VEeyIerYMEBOomQ
Description: Fedwire Funds Service Scope

The account reporting request is the message the Fedwire Funds participant uses to solicit a report from the Fedwire Funds Service.

Fedwire Funds Service Usage

The account reporting request is used to request the Fedwire Funds Service to send an account balance report, an endpoint totals report, an endpoint details sent report, or an endpoint details received report.

If the account reporting request is successfully processed, then the Fedwire Funds Service will send the requested report to the Fedwire Funds participant using the ISO 20022 Bank-to-Customer Account Report message (camt.052).  
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-31T23:10:48+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.060.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.060.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReportingRequestV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReportingRequestV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The AccountReportingRequest message is sent by the account owner, either directly or through a forwarding agent, to one of its account servicing institutions. It is used to ask the account servicing institution to send a report on the account owner's account in a BankToCustomerAccountReport (camt.052), a BankToCustomerStatement (camt.053) or a BankToCustomerDebitCreditNotification (camt.054).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader77__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide further details on the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgReq" type="ReportingRequest5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide further details on the reporting request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountReporting_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReporting_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different types of Fedwire Funds Service account reports.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DTLS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndpointDetailsSentReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A detailed report of all Fedwire Funds Service messages sent by an endpoint of a Fedwire Funds Service participant within a specified range of sequence numbers. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTLR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndpointDetailsReceivedReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A detailed report of all Fedwire Funds Service messages received by an endpoint of a Fedwire Funds Service participant within a specified range of sequence numbers. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ETOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndpointTotalsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A summary report of all Fedwire Funds Service messages sent and received for a specified endpoint of a Fedwire Funds Service participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBalanceReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An account balance report for a specified routing number of a Fedwire Funds Service participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountType_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountType_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the different account types used for account reporting purposes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleRoutingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The report reflects debit and credit activity associated with the Inquiry Routing Number regardless of whether the Inquiry Routing Number is a subaccount routing number or the master account routing number. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="M">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The report reflects debit and credit activity associated with the master account tied to the Inquiry Routing Number (this includes activity associated with both the master account routing number and all subaccount routing numbers).  </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount38__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount38__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CashAccountType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="AccountType_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcctRptgReq" type="AccountReportingRequestV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EndpointIdentifier_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EndpointIdentifier_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is an identifier for the Fedwire Funds Service participant assigned by the Federal Reserve Banks.

Note: This may be a Fedwire Sender's input source identifier (i.e., endpoint identifier, aka logical terminal) or a Fedwire Receiver's output destination identifier (i.e., endpoint identifier, aka logical terminal).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{8,8}"/>
            <xs:minLength value="8"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USABA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USABA</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RoutingNumber_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="EndpointIdentifier_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader77__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader77__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account owner or the party authorised to send the message, and sent to the account servicing institution, to unambiguously identify the message.
Usage: The sender has to make sure that 'MessageIdentification' is unique per account servicing institution for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageNameIdentification_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Message Name Identification defines the pattern to which all ISO 20022 message identifiers of messages implemented across Federal Reserve Financial Services, e.g., the FedNow or Fedwire Funds Services, need to conform. It is composed of the following parts, separated by a dot '.': the business area (e.g., 'pacs'), the message number (e.g., '008'), the message variant (i.e., '001' for all messages), and the message version (e.g., '01').</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4,4}[.]{1,1}[0-9]{3,3}[.]{1,1}001[.]{1,1}[0-9]{2,2}"/>
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party40Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party40Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReportingRequest5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportingRequest5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the reporting request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountReporting_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account owner, to unambiguously identify the account reporting request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqdMsgNmId" type="MessageNameIdentification_FRS_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedMessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the requested reporting message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="CashAccount38__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which the reporting request refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOwnr" type="Party40Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgSeq" type="SequenceRange1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the range of identification sequence numbers which are being requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RoutingNumber_FRS_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RoutingNumber_FRS_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a routing number used by the Service participant in connection with the message.&#13;
&#13;
Note: This may be a master account routing number or a subaccount routing number. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
            <xs:length value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SequenceRange1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceRange1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a choice of sequences.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="FrToSeq" type="SequenceRange1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromToSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Particular sequence range specified between a start sequence and an end sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SequenceRange1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceRange1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a range of sequences from a start sequence to an end sequence.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrSeq" type="X_SequenceNumber_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start sequence of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToSeq" type="X_SequenceNumber_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End sequence of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="X_SequenceNumber_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">X_SequenceNumber_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This is a 6-character number identifying the sequence number of a message sent across the Fedwire Funds Service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[0-9]{6,6}"/>
            <xs:minInclusive value="000001"/>
            <xs:maxInclusive value="999999"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
