bokworks-generate-xml/src/main/resources/static/input/bokwire/20231102/BOK_Phase1_CorePayment_v_1_3_BOK_camt_052_001_08_BankToCustomerAccountReport_Intraday_20231101_0053_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_Phase1_CorePayment_v.1.3
Usage Guideline: BOK_camt.052.001.08_BankToCustomerAccountReport_Intraday
Base Message: camt.052.001.08
Date of publication: 31 October 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_coV94HfTEe6Lc6XGNGwuNw/_coWk9HfTEe6Lc6XGNGwuNw
Description: BOK : The BankToCustomerAccountReport_Intraday is sent by BOK to participant. It corresponds to BKS10E120.

The BankToCustomerAccountReport_Intraday is used to provide balance and outstanding information related to :
- General Current Account
- Current Account for Settlement
- Intraday Overdraft Outstanding
- Total Net Payment Balance
- Available Total Net Payment Limit
- Available Bilateral Net Payment Limit (when requested in camt.060)

along with limit information related to :
- Intraday Overdraft Available Amount
- Total Net Payment Limit
- Minimum Bilateral Net Payment Limit


BOK Rules for characters set: 

* All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

* All Name and Address for all actors and Related Remittance Information and Remittance Information are extended to support the following additional characters: !#$%&*=^_`{|}~";<>@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters as specific text datatypes named in the form of  "BOK_Max(nnn)TextAH” and containing the pattern: “[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&\*=^_`\{\|\}~";<>@\[\\\]\p{IsHangulSyllables}]+”. 
Note that "><" is escaped as follows: 
< is replaced with &lt;
> is replaced with &gt;
& is replaced with &amp;

* E-mail address/Proxy fields are extended to support the following additional characters: !#%&'*+-/=?^_`{|}~ "(),:;@[\]><$ 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-11-01T00:53:20+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReport25__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReport25__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the account report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account servicer, to unambiguously identify the account report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgSrc" type="ReportingSource1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingSource</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the application used to generate the reporting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount39__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which credit and debit entries are made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Bal" type="CashBalance8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to define the balance as a numerical representation of the net increases and decreases in an account at a specific point in time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BOK_AccountTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_AccountTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CACC_0206">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">당좌예금일반 General Current Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General Current Account</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACC_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">당좌예금결제전용 Current Account for Settlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current Account for Settlement</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDFT_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">일중당좌대출(결제전용)가능금액 Intraday Overdraft Available Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday Overdraft Available Amount</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TNPB_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">총순지급금액 Total Net Payment Balance </xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total Net Payment Balance </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATNL_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">가용총순지급한도 Available Total Net Payment Limit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Available Total Net Payment Limit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABNL_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">가용양자간지급한도 Available Bilateral Net Payment Limit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Available Bilateral Net Payment Limit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".&#13;
&#13;
Only KRW is active currency code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
            <xs:enumeration value="KRW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KRW</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">KRW code, 원화 코드</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyandAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BOK_ActiveCurrencyandAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyandAmount</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="BOK_ActiveCurrencyandAmount_SimpleType">
                <xs:attribute name="Ccy" type="BOK_ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Only KRW is active currency</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="BOK_BalanceSubTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_BalanceSubTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Intermediate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing an intermediate amount such as the opening or closing balance incrementally carried forward from one page to the next in a multi-page statement or report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_BalanceTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_BalanceTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLBD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closing Booked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of the account at the end of the pre-agreed account reporting period. It is the sum of the opening booked balance at the beginning of the period and all entries booked to the account during the pre-agreed account reporting period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ReportingSystemCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ReportingSystemCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="LVPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Large Value Payment System</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Large Value Payment System</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceSubType1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceSubType1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance subtype.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="BOK_BalanceSubTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance sub-type, as published in an external balance sub-type code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceType10Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceType10Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance type.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="BOK_BalanceTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance type, in a coded format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance type, in a proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceType13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceType13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to define the balance type and sub-type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="BalanceType10Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CodeOrProprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Coded or proprietary format balance type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubTp" type="BalanceSubType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the balance sub-type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankToCustomerAccountReportV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankToCustomerAccountReportV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BankToCustomerAccountReport message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It can be used to inform the account owner, or authorised party, of the entries reported to the account, and/or to provide the owner with balance information on the account at a given point in time.&#13;
Usage&#13;
The BankToCustomerAccountReport message can contain reports for more than one account. It provides information for cash management and/or reconciliation. It can be used to:&#13;
- report pending and booked items;&#13;
- provide balance information.&#13;
It can include underlying details of transactions that have been included in the entry.&#13;
It is possible that the receiver of the message is not the account owner, but a party entitled by the account owner to receive the account information (also known as recipient).&#13;
For a statement, the Bank-to-Customer Account Statement message should be used.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common information for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="6" minOccurs="5" name="Rpt" type="AccountReport25__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on a cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount39__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CashAccountType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="BOK_ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="BOK_AccountTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashBalance8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashBalance8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to define the balance details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amt" type="BOK_ActiveCurrencyandAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money of the cash balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance is a credit or a debit balance. 
Usage: A zero balance is considered to be a credit balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dt" type="DateAndDateTime2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the date (and time) of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader81__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account servicing institution, and sent to the account owner or the party authorised to receive the message, to unambiguously identify the message.
Usage: The account servicing institution has to make sure that MessageIdentification is unique per account owner for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPgntn" type="Pagination1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the message.

Usage: The pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddtlInf" type="HVPSPlus_RestrictedFINXMax500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 34 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' +</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="camt.060.001.05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">camt.060.001.05</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessQuery1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="HVPSPlus_RestrictedFINXMax35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the query message name identifier to which the message refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportingSource1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportingSource1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the source used to generate the reporting.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="BOK_ReportingSystemCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reporting source, in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="true">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">true</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
