bokworks-generate-xml/src/main/resources/static/input/bokwire/20231102/BOK_Phase1_CorePayment_v_1_3_BOK_camt_052_001_08_BankToCustomerAccountReport_Ledger_20231101_0053_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_Phase1_CorePayment_v.1.3
Usage Guideline: BOK_camt.052.001.08_BankToCustomerAccountReport_Ledger
Base Message: camt.052.001.08
Date of publication: 31 October 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_coV94HfTEe6Lc6XGNGwuNw/_coXzEXfTEe6Lc6XGNGwuNw
Description: BOK : The BankToCustomerAccountReport_Ledger (camt.052_Ledger) is sent by a participant to BOK upon BOK's request via AccountReportingRequest_BOK (camt.060_BOK).
Participant provide the details on all entries for requested Business Service Identifier processed (recorded as settled) on the requested reporting day.
The BankToCustomerAccountReport_Ledger (camt.052_Ledger) is not a normal business message, only used upon BOK's request exceptionally. 

BOK Rules for characters set: 

* All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

* All Name and Address for all actors and Related Remittance Information and Remittance Information are extended to support the following additional characters: !#$%&*=^_`{|}~";<>@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters as specific text datatypes named in the form of  "BOK_Max(nnn)TextAH” and containing the pattern: “[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&\*=^_`\{\|\}~";<>@\[\\\]\p{IsHangulSyllables}]+”. 
Note that "><" is escaped as follows: 
< is replaced with &lt;
> is replaced with &gt;
& is replaced with &amp;

* E-mail address/Proxy fields are extended to support the following additional characters: !#%&'*+-/=?^_`{|}~ "(),:;@[\]><$ 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-11-01T00:53:24+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReport25__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReport25__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the account report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account servicer, to unambiguously identify the account report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount39__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which credit and debit entries are made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ntry" type="ReportEntry10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Entry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies an entry in the report.&#13;
Usage: At least one reference must be provided to identify the entry and its underlying transaction(s).&#13;
&#13;
Usage Rule: In case of a Payments R-transaction the creditor / debtor referenced of the original payment initiation messages is also used for reporting of the R-transaction. The original debtor/creditor in the reporting of R-Transactions is not inverted. &#13;
Following elements all defined in the TransactionDetails in RelatedParties or RelatedAgents are impacted by this usage rule:&#13;
Creditor, UltimateCreditor, CreditorAccount, CreditorAgent, Debtor, UltimateDebtor, DebtorAccount and DebtorAgent.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BOK_AccountTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_AccountTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SACC_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">당좌예금결제전용 Current Account for Settlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current Account for Settlement</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".&#13;
&#13;
Only KRW is active currency code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
            <xs:enumeration value="KRW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KRW</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">KRW code, 원화 코드</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyandAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BOK_ActiveCurrencyandAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyandAmount</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="BOK_ActiveCurrencyandAmount_SimpleType">
                <xs:attribute name="Ccy" type="BOK_ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Only KRW is active currency</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="BOK_BankTransactionCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_BankTransactionCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary bank transaction code assigned by BOK to identify the underlying transaction</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:enumeration value="DSS001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">일반자금이체_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">01:General Fund Transfer_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS002">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">수취인지정자금이체_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">02:Beneficiary Designated Fund Transfer_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS003">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">콜자기거래_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">03:Call Direct Trade_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS004">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">콜대행거래_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">04:Call Broker Trade_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS005">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">증권대금이체_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">05:Securities Payment_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS007">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">콜상환 및 콜반환_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">07:Redemption of call trade and Return of call trade_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS008">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">연계결제_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">08:Linked Settlement_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankToCustomerAccountReportV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankToCustomerAccountReportV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BankToCustomerAccountReport message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It can be used to inform the account owner, or authorised party, of the entries reported to the account, and/or to provide the owner with balance information on the account at a given point in time.&#13;
Usage&#13;
The BankToCustomerAccountReport message can contain reports for more than one account. It provides information for cash management and/or reconciliation. It can be used to:&#13;
- report pending and booked items;&#13;
- provide balance information.&#13;
It can include underlying details of transactions that have been included in the entry.&#13;
It is possible that the receiver of the message is not the account owner, but a party entitled by the account owner to receive the account information (also known as recipient).&#13;
For a statement, the Bank-to-Customer Account Statement message should be used.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common information for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rpt" type="AccountReport25__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on a cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank transaction code in a proprietary form, as defined by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount39__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CashAccountType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="BOK_ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="BOK_AccountTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryDetails9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryDetails9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction(s) and/or batched entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="EntryTransaction10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the underlying transaction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryStatus1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryStatus1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an entry on the books of the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalEntryStatus1Code_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry status, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntryTransaction10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryTransaction10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Refs" type="TransactionReferences6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">References</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddtlTxInf" type="HVPSPlus_RestrictedFINXMax500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalTransactionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEntryStatus1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalEntryStatus1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BOOK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader81__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account servicing institution, and sent to the account owner or the party authorised to receive the message, to unambiguously identify the message.
Usage: The account servicing institution has to make sure that MessageIdentification is unique per account owner for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the message.

Usage: The pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 34 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' +</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="camt.060.001.05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">camt.060.001.05</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessQuery1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="HVPSPlus_RestrictedFINXMax35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the query message name identifier to which the message refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryBankTransactionCodeStructure1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements to fully identify a proprietary bank transaction code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="BOK_BankTransactionCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary bank transaction code to identify the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportEntry10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportEntry10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on an entry in the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="BOK_ActiveCurrencyandAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the entry is a credit or a debit entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="EntryStatus1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of an entry on the books of the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to fully identify the type of underlying transaction resulting in an entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtryDtls" type="EntryDetails9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntryDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReferences6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the instructing party of the underlying message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UETR" type="UUIDv4Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UETR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Universally unique identifier to provide an end-to-end reference of a payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UUIDv4Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
