bokworks-generate-xml/src/main/resources/static/input/bokwire/20231102/BOK_Phase1_CorePayment_v_1_3_BOK_camt_006_001_08_ReturnTransaction_20231101_0053_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_Phase1_CorePayment_v.1.3
Usage Guideline: BOK_camt.006.001.08_ReturnTransaction
Base Message: camt.006.001.08
Date of publication: 31 October 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_coV94HfTEe6Lc6XGNGwuNw/_coV95nfTEe6Lc6XGNGwuNw
Description: BOK : The ReturnTransaction message is sent by BOK in response to a GetTransaction (camt.005) message. It is used to provide the requested information on i) the details of one or more payment (order)s according to the specified search criteria and ii) status of settlement to the Creditor's account for pacs.008.

Scope
The ReturnTransaction message is sent by the transaction administrator to a member of the system.
It is used to provide information on transactions and booked entries held at the transaction administrator.
The Return Transaction message can be sent as a response to a related GetTransaction message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.
Usage
Following normal business flows, transactions registered by the transaction administrator may be queued for later settlement (because of insufficient funds available, because of risk or liquidity limits, etc.). A transaction may have a series of statuses. These can be transient (such as pending or related types) and final (such as rejected or settled).
Members of a system need to receive information about the payments queue(s) and must have the ability to take action (that is, cancel or modify the transaction(s) to be settled). Note, however, that actions by a member will always concern transactions in a transient status.
At any time during operating hours of the system, the member can query the transaction administrator to get information about transactions, whatever their status.
These requests will concern either all transactions, all transactions within a particular status or a specific transaction.
The member can request information about transactions through a series of criteria, corresponding to the known information stored within the transaction administrator. Based on the criteria received within the request, the transaction administrator will select items that match the request and report them to the requester.
The transaction administrator may also send a ReturnTransaction message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs attention.
The message from the transaction administrator can contain information based on the following elements:
- provenance or destination of the payment (payment to/payment from)
- transaction reference
- transfer value date
- payment instruction reference
- payment instruction status, as registered at the transaction administrator
- instructed amount and/or currency
- interbank settlement amount and/or currency
- credit/debit indicator of the payment instruction/transaction
- message used for the payment instruction
- priority of the payment transaction
- period in which the payment instruction should be processed (processing validity time)
- instructions given, related to the processing of the transaction
- type of payment instructed
- account identification (entries booked to a specific account)
- entry amount and/or currency
- entry debit/credit indicator (if absent, all entries should be reported)
- status of the entry (pending, booked, ...)
- entry date and time
- currency of the account
- type of the account
- entry reference
- entry date
- transfer reason
- details related to the status of the payment instruction
An element that is particular to the Get/Return Transaction pair is the Statement Report. When a GetTransaction message is sent requesting a statement report, the related ReturnTransaction message will provide a pre-defined set of return criteria per transaction. The information returned contains the following details for each transaction:
- value date
- entry date
- debit/credit code
- entry amount
- method of payment (payment instrument or message type)
- entry reference
- transaction reference
- supplementary details
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.

BOK Rules for characters set: 

* All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

* All Name and Address for all actors and Related Remittance Information and Remittance Information are extended to support the following additional characters: !#$%&*=^_`{|}~";<>@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters as specific text datatypes named in the form of  "BOK_Max(nnn)TextAH” and containing the pattern: “[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&\*=^_`\{\|\}~";<>@\[\\\]\p{IsHangulSyllables}]+”. 
Note that "><" is escaped as follows: 
< is replaced with &lt;
> is replaced with &gt;
& is replaced with &amp;

* E-mail address/Proxy fields are extended to support the following additional characters: !#%&'*+-/=?^_`{|}~ "(),:;@[\]><$ 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-11-01T00:53:19+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.006.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.006.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIDec2014Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".&#13;
&#13;
Only KRW is active currency code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
            <xs:enumeration value="KRW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KRW</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">KRW code, 원화 코드</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyandAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BOK_ActiveCurrencyandAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyandAmount</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="BOK_ActiveCurrencyandAmount_SimpleType">
                <xs:attribute name="Ccy" type="BOK_ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Only KRW is active currency</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="BOK_Max16TextAH">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_Max16TextAH</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 16 characters, and limited to SWIFT character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + . extended to support the following additional characters !#$%&amp;*=^_`{|}~";&lt;&gt;@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]\p{IsHangulSyllables}]{1,16}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max30TextAH">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_Max30TextAH</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 30 characters, and limited to SWIFT character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + . extended to support the following additional characters !#$%&amp;*=^_`{|}~";&lt;&gt;@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]\p{IsHangulSyllables}]{1,30}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max35TextAH">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_Max35TextAH</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to SWIFT character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + . extended to support the following additional characters !#$%&amp;*=^_`{|}~";&lt;&gt;@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]\p{IsHangulSyllables}]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_Max70TextAH">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_Max70TextAH</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 70 characters, and limited to SWIFT character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + . extended to support the following additional characters !#$%&amp;*=^_`{|}~";&lt;&gt;@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&amp;\*=^_`\{\|\}~&quot;;&lt;&gt;@\[\\\]\p{IsHangulSyllables}]{1,70}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_QueryTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_QueryTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InquiryOnCompletionForReturnSettlementOnTheCreditor'sAccount 수취인지정자금이체반환입금결과조회</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Inquiry on Completion for Return settlement on the Creditor's account</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InquiryOnCompletionForSettlementOnTheCreditor'sAccount 수취인지정자금이체입금결과조회</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Inquiry on Completion for Settlement on the Creditor's account</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IRPQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InquiryOnReservedPaymentInQueue 예약거래내역요구</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Inquiry on Reserved Payment In Queue</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPIQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InquiryOnPaymentInQueue 대기거래내역요구</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Inquiry on Payment In Queue</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BrnchId" type="BranchData3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BranchIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a specific branch of a financial institution.

Usage: This component should be used in case the identification information in the financial institution component does not provide identification up to branch level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchData3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="BOK_Max30TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="HVPSPlus_RestrictedFINXMax28Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrTx" type="ReturnTransactionV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="HVPSPlus_RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="KRBOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KRBOK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalSystemErrorHandling1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error code as generated by the system in the response, as published in an external balance type code set.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal entity identifier of the financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="BOK_QueryTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 140 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax28Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax28Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 28 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="28"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 70 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPaymentIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPaymentIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a payment instruction by a set of characteristics (as per EBA system requirements) which provides an unambiguous identification of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.
Usage: this is the former PaymentInstructionReference element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UETR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Universally unique identifier to provide an end-to-end reference of a payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmAmt" type="BOK_ActiveCurrencyandAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterBankSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterBankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndToEndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.
Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction.
It can be included in several messages related to the transaction.
Usage: this is the former RelatedReference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pagination of the message.
Usage: the pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party40Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party40Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Pty" type="PartyIdentification135__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a person or an organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification135__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification135__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of a person or an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="BOK_Max30TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstlAdr" type="PostalAddress24__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentIdentification6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ways of identifying a payment instruction by its references and business identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="LngBizId" type="LongPaymentIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LongBusinessIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business identification of the payment instruction given by the clearing agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="HVPSPlus_RestrictedFINXMax70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique proprietary reference of the underlying payment instruction assigned by the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentInstruction32__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstruction32__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original payment transaction message
Usage: this is the former TransactionReference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="PaymentStatus6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about the status of a transfer.

.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the message or event from which an instruction has been initiated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Priority1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Urgency or order of importance that the originator would like the recipient of the payment instruction to apply to the processing of the payment instruction.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.&#13;
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.&#13;
Usage: This is the former PaymentInstructionReference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndToEndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.&#13;
Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction.&#13;
It can be included in several messages related to the transaction.&#13;
Usage: This is the former related reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pties" type="PaymentTransactionParty3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the party fields used to search for a payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentOrigin1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentOrigin1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the format under which the payment that generated the entry was transmitted.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="XMLMsgNm" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">XMLMessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a SWIFT XML message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentStatus6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentStatus6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment status details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PaymentStatusCode6Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a transfer, in coded form, as assigned by the transaction administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="DateAndDateTime2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the status was assigned to the transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="PaymentStatusReason1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason provided for the status of a transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusCode6Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentStatusCode6Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a list of pending statuses or final statuses.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Qualifies further the proprietary status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentStatusReason1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentStatusReason1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the status of the payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines a free text proprietary reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PaymentTransactionParty3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentTransactionParty3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the party fields used to search for a payment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cdtr" type="Party40Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that receives an amount of money from the debtor. In the context of the payment model, the creditor is also the credit account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress24__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress24__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="BOK_Max70TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Department</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a division of a large organisation or building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="BOK_Max70TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="BOK_Max16TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="BOK_Max35TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="BOK_Max70TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="BOK_Max16TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="BOK_Max70TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Room</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Building room number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="BOK_Max16TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="BOK_Max35TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="BOK_Max35TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownLocationName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific location name within the town.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="BOK_Max35TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country such as state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="BOK_Max70TextAH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Priority1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Priority1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Priority is expressed as a code or a text.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority code bilaterally agreed between parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RequestType4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReturnTransactionV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnTransactionV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnTransaction message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on transactions and booked entries held at the transaction administrator.&#13;
The Return Transaction message can be sent as a response to a related GetTransaction message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
Following normal business flows, transactions registered by the transaction administrator may be queued for later settlement (because of insufficient funds available, because of risk or liquidity limits, etc.). A transaction may have a series of statuses. These can be transient (such as pending or related types) and final (such as rejected or settled).&#13;
Members of a system need to receive information about the payments queue(s) and must have the ability to take action (that is, cancel or modify the transaction(s) to be settled). Note, however, that actions by a member will always concern transactions in a transient status.&#13;
At any time during operating hours of the system, the member can query the transaction administrator to get information about transactions, whatever their status.&#13;
These requests will concern either all transactions, all transactions within a particular status or a specific transaction.&#13;
The member can request information about transactions through a series of criteria, corresponding to the known information stored within the transaction administrator. Based on the criteria received within the request, the transaction administrator will select items that match the request and report them to the requester.&#13;
The transaction administrator may also send a ReturnTransaction message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs attention.&#13;
The message from the transaction administrator can contain information based on the following elements:&#13;
- provenance or destination of the payment (payment to/payment from)&#13;
- transaction reference&#13;
- transfer value date&#13;
- payment instruction reference&#13;
- payment instruction status, as registered at the transaction administrator&#13;
- instructed amount and/or currency&#13;
- interbank settlement amount and/or currency&#13;
- credit/debit indicator of the payment instruction/transaction&#13;
- message used for the payment instruction&#13;
- priority of the payment transaction&#13;
- period in which the payment instruction should be processed (processing validity time)&#13;
- instructions given, related to the processing of the transaction&#13;
- type of payment instructed&#13;
- account identification (entries booked to a specific account)&#13;
- entry amount and/or currency&#13;
- entry debit/credit indicator (if absent, all entries should be reported)&#13;
- status of the entry (pending, booked.)&#13;
- entry date and time&#13;
- currency of the account&#13;
- type of the account&#13;
- entry reference&#13;
- entry date&#13;
- transfer reason&#13;
- details related to the status of the payment instruction&#13;
An element that is particular to the Get/Return Transaction pair is the Statement Report. When a GetTransaction message is sent requesting a statement report, the related ReturnTransaction message will provide a pre-defined set of return criteria per transaction. The information returned contains the following details for each transaction:&#13;
- value date&#13;
- entry date&#13;
- debit/credit code&#13;
- entry amount&#13;
- method of payment (payment instrument or message type)&#13;
- entry reference&#13;
- transaction reference&#13;
- supplementary details&#13;
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="TransactionReportOrError4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="System2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">System2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Search for a system and a member of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a member within a system, assigned using the member identification scheme of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction66__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Transaction66__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTo" type="System2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Destination of the payment (be it a member or a system or both).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFr" type="System2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Origin of the payment (be it a member or a system or both).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the payment transaction is a debit or credit transaction. 
.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pmt" type="PaymentInstruction32__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction to pay an amount of money to an ultimate beneficiary, on behalf of an originator. This instruction may have to be forwarded several times to complete the settlement chain.
.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionOrError4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOrError4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the transaction details or a business error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Tx" type="Transaction66__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionReport5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReport5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the payment transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification6Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the instruction related to the payment for which information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxOrErr" type="TransactionOrError4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the payment transaction when information has not been found.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportOrError4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReportOrError4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between transactions and booked entries held at the transaction administrator or an operational error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="BizRpt" type="Transactions8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Transactions8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Transactions8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxRpt" type="TransactionReport5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either on the transaction information or on a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UUIDv4Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
