bokworks-generate-xml/src/main/resources/static/input/bokwire/20231102/BOK_Phase1_CorePayment_v_1_3_BOK_camt_052_001_08_BankToCustomerAccountReport_EOD_20231101_0053_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_Phase1_CorePayment_v.1.3
Usage Guideline: BOK_camt.052.001.08_BankToCustomerAccountReport_EOD
Base Message: camt.052.001.08
Date of publication: 31 October 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_coV94HfTEe6Lc6XGNGwuNw/_coXMBnfTEe6Lc6XGNGwuNw
Description: BOK : The BankToCustomerAccountReport_EOD is sent by a participant to BOK. During EOD(End Of Day) process, participant provide the summary of entries by Bank Transaction Code (BTC) for all entries processed during the closed business day that have been recorded as settled (booked in-house).  It covers BOK legacy message type BKS20F030.

BOK Rules for characters set: 

* All proprietary and Text fields EXCLUDING Name and Address for all actors and Related Remittance Information and Remittance are limited to the FIN-X-Character set.

* All Name and Address for all actors and Related Remittance Information and Remittance Information are extended to support the following additional characters: !#$%&*=^_`{|}~";<>@[\] and the Unicode Code Block AC00..D7AF; Hangul Syllables for Korean language characters as specific text datatypes named in the form of  "BOK_Max(nnn)TextAH” and containing the pattern: “[0-9a-zA-Z/\-\?:\(\)\.,'\+ !#$%&\*=^_`\{\|\}~";<>@\[\\\]\p{IsHangulSyllables}]+”. 
Note that "><" is escaped as follows: 
< is replaced with &lt;
> is replaced with &gt;
& is replaced with &amp;

* E-mail address/Proxy fields are extended to support the following additional characters: !#%&'*+-/=?^_`{|}~ "(),:;@[\]><$ 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-11-01T00:53:23+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Othr" type="GenericAccountIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountReport25__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReport25__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the account report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account servicer, to unambiguously identify the account report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgSrc" type="ReportingSource1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingSource</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the application used to generate the reporting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount39__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which credit and debit entries are made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxsSummry" type="TotalTransactions6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionsSummary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides summary information on entries.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddtlRptInf" type="HVPSPlus_RestrictedFINXMax500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReportInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details of the account report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BOK_AccountTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_AccountTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SACC_1062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">당좌예금결제전용 Current Account for Settlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current Account for Settlement</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".&#13;
&#13;
Only KRW is active currency code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
            <xs:enumeration value="KRW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KRW</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">KRW code, 원화 코드</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_BankTransactionCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_BankTransactionCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary bank transaction code assigned by BOK to identify the underlying transaction</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="6"/>
            <xs:enumeration value="DSS001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">일반자금이체_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">01:General Fund Transfer_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS002">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">수취인지정자금이체_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">02:Beneficiary Designated Fund Transfer_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS003">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">콜자기거래_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">03:Call Direct Trade_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS004">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">콜대행거래_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">04:Call Broker Trade_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS005">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">증권대금이체_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">05:Securities Payment_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS007">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">콜상환 및 콜반환_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">07:Redemption of call trade and Return of call trade_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSS008">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">연계결제_참가기관</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">08:Linked Settlement_Participant</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_ReportingSystemCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_ReportingSystemCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="LVPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Large Value Payment System</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Large Value Payment System</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BankToCustomerAccountReportV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankToCustomerAccountReportV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BankToCustomerAccountReport message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It can be used to inform the account owner, or authorised party, of the entries reported to the account, and/or to provide the owner with balance information on the account at a given point in time.&#13;
Usage&#13;
The BankToCustomerAccountReport message can contain reports for more than one account. It provides information for cash management and/or reconciliation. It can be used to:&#13;
- report pending and booked items;&#13;
- provide balance information.&#13;
It can include underlying details of transactions that have been included in the entry.&#13;
It is possible that the receiver of the message is not the account owner, but a party entitled by the account owner to receive the account information (also known as recipient).&#13;
For a statement, the Bank-to-Customer Account Statement message should be used.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common information for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rpt" type="AccountReport25__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on a cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank transaction code in a proprietary form, as defined by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount39__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount39__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CashAccountType2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ccy" type="BOK_ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="BOK_AccountTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader81__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account servicing institution, and sent to the account owner or the party authorised to receive the message, to unambiguously identify the message.
Usage: The account servicing institution has to make sure that MessageIdentification is unique per account owner for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 34 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' +</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ' + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,500}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberAndSumOfTransactions1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NumberAndSumOfTransactions1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements providing the total sum of entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NbOfNtries" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual entries included in the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sum" type="BOK_DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sum</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total of all individual entries included in the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryBankTransactionCodeStructure1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryBankTransactionCodeStructure1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements to fully identify a proprietary bank transaction code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="BOK_BankTransactionCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary bank transaction code to identify the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportingSource1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportingSource1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the source used to generate the reporting.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="BOK_ReportingSystemCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reporting source, in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TotalTransactions6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TotalTransactions6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide summary information on entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TtlNtriesPerBkTxCd" type="TotalsPerBankTransactionCode5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalEntriesPerBankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the total number and sum of entries per bank transaction code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalsPerBankTransactionCode5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TotalsPerBankTransactionCode5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide the total sum of entries per bank transaction code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CdtNtries" type="NumberAndSumOfTransactions1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual credit entries for the bank transaction code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DbtNtries" type="NumberAndSumOfTransactions1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebitEntries</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of individual debit entries for the bank transaction code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to fully identify the type of underlying transaction resulting in an entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
