bokworks-generate-xml/src/main/resources/static/input/fedwire/20230831/Fedwire_Funds_Service_Release_2025_FedwireFundsBroadcast_admi_004_001_02_20230831_2310_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Fedwire Funds Service
Collection: Fedwire Funds Service Release 2025
Usage Guideline: FedwireFundsBroadcast_admi.004.001.02
Base Message: admi.004.001.02
Date of publication: 31 August 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_ozvbgCxpEeyCOPAtSa9DrA/_sIqbZWKMEeyRCMVfnm5jiw
Description: Fedwire Funds Service Scope

A Fedwire Funds broadcast is the message the Fedwire Funds Service uses to notify Fedwire Funds participants of a Fedwire Funds Service event.  

Fedwire Funds Service Usage

The Fedwire Funds broadcast is the message the Fedwire Funds Service uses to notify Fedwire Funds participants of the Fedwire Funds Service open, close, cutoff time extensions, or any ad hoc information related to Fedwire Funds Service operations. 
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-31T23:10:52+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SysEvtNtfctn" type="SystemEventNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on an event that happened in a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtCd" type="Event_FedwireFunds_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary code used to specify an event that occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtParam" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the parameters of an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtDesc" type="Max1000Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free text used to describe an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Event_FedwireFunds_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event_FedwireFunds_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This lists the types of events that can occur during a Fedwire Funds Service funds-transfer business day.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemOpen</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fedwire Funds Service is open for the current funds-transfer business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemClosed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Fedwire Funds Service is closed for the current funds-transfer business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A Fedwire Funds Service cutoff time for the current funds-transfer business day has been extended.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADHC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdHoc</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ad hoc Fedwire Funds Service customized message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max1000Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1000 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEventNotificationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The SystemEventNotification message is sent by a central system to notify the occurrence of an event in a central system.&#13;
Usage&#13;
The message can be used by a central settlement system to inform its participants of an event that is going to occur in the system, for instance that the system will be down at a certain time, etc.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtInf" type="Event2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about a system event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
