bokworks-generate-xml/src/main/resources/static/input/chaps/CHAPS_camt_053_001_08_(Statement)_MT950_20230814_1251.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of England
Collection: FINAL CHAPS ENH Schemas V1.3.0
Usage Guideline: CHAPS_camt.053.001.08_(Statement)_MT950
Base Message: camt.053.001.08
Date of publication: 14 April 2022
URL: https://www2.swift.com/mystandards/#/mp/mx/_UbVWoBeFEeu1nMrdT9db4w/_aKlMTazREeuAx_XXIrKXmg
Description: Scope
The BankToCustomerStatement message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It is used to inform the account owner, or authorised party, of the entries booked to the account, and to provide the owner with balance information on the account at a given point in time.
Usage
The BankToCustomerStatement message can contain reports for more than one account. It provides information for cash management and/or reconciliation.
It contains information on booked entries only.
It can include underlying details of transactions that have been included in the entry.
The message is exchanged as defined between the account servicer and the account owner. It provides information on items that have been booked to the account and also balance information. Depending on services and schedule agreed between banks and their customers, statements may be generated and exchanged accordingly, for example for intraday or prior day periods.
It is possible that the receiver of the message is not the account owner, but a party entitled through arrangement with the account owner to receive the account information (also known as recipient).
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-08-14T12:51:40+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.053.001.08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.053.001.08">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountStatement9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountStatement9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details of the account statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the account servicer, to unambiguously identify the account statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtPgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementPagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the statement.&#13;
&#13;
Usage: The pagination of the statement is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncSeqNb" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ElectronicSequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sequential number of the statement, as assigned by the account servicer.
Usage: The sequential number is increased incrementally for each statement sent electronically.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LglSeqNb" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalSequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal sequential number of the statement, as assigned by the account servicer. It is increased incrementally for each statement sent.

Usage: Where a paper statement is a legal requirement, it may have a number different from the electronic sequential number. Paper statements could for instance only be sent if movement on the account has taken place, whereas electronic statements could be sent at the end of each reporting period, regardless of whether movements have taken place or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount39__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the account to which credit and debit entries are made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Bal" type="CashBalance8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to define the balance as a numerical representation of the net increases and decreases in an account at a specific point in time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ntry" type="ReportEntry10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Entry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specify an entry in the statement.&#13;
Usage: At least one reference must be provided to identify the entry and its underlying transaction(s).&#13;
&#13;
&#13;
Usage Rule: In case of a Payments R-transaction the creditor / debtor referenced of the original payment initiation messages is also used for reporting of the R-transaction. The original debtor/creditor in the reporting of R-Transactions is not inverted. &#13;
Following elements all defined in the TransactionDetails in RelatedParties or RelatedAgents are impacted by this usage rule:&#13;
Creditor, UltimateCreditor, CreditorAccount, CreditorAgent, Debtor, UltimateDebtor, DebtorAccount and DebtorAgent.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIDec2014Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362: 2014 - "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceSubType1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceSubType1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance subtype.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalBalanceSubType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Balance sub-type, as published in an external balance sub-type code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies a proprietary code for the balance type.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceType10Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceType10Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalBalanceType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Balance type, in a coded format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="CBPR_RestrictedFINXMax35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Balance type, in a proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceType13__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceType13__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to define the balance type and sub-type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CdOrPrtry" type="BalanceType10Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CodeOrProprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Coded or proprietary format balance type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="BalanceSubType1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the balance sub-type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankToCustomerStatementV08">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankToCustomerStatementV08</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BankToCustomerStatement message is sent by the account servicer to an account owner or to a party authorised by the account owner to receive the message. It is used to inform the account owner, or authorised party, of the entries booked to the account, and to provide the owner with balance information on the account at a given point in time.&#13;
Usage&#13;
The BankToCustomerStatement message can contain reports for more than one account. It provides information for cash management and/or reconciliation.&#13;
It contains information on booked entries only.&#13;
It can include underlying details of transactions that have been included in the entry.&#13;
The message is exchanged as defined between the account servicer and the account owner. It provides information on items that have been booked to the account and also balance information. Depending on services and schedule agreed between banks and their customers, statements may be generated and exchanged accordingly, for example for intraday or prior day periods.&#13;
It is possible that the receiver of the message is not the account owner, but a party entitled through arrangement with the account owner to receive the account information (also known as recipient).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrpHdr" type="GroupHeader81__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common information for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Stmt" type="AccountStatement9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Statement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on booked entries and balances for a cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Domn" type="BankTransactionCodeStructure5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Domain</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide the domain, the family and the sub-family of the bank transaction code, in a structured and hierarchical format.

Usage: If a specific family or sub-family code cannot be provided, the generic family code defined for the domain or the generic sub-family code defined for the family should be provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="ExternalBankTransactionDomain1Code_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the business area of the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fmly" type="BankTransactionCodeStructure6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Family</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the family and the sub-family of the bank transaction code, within a specific domain, in a structured and hierarchical format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BankTransactionCodeStructure6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionCodeStructure6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the type or operations code of a transaction entry.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="BankTransactionFamilyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the family within a domain.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubFmlyCd" type="BankTransactionSubFamilyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubFamilyCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the sub-product family within a specific family.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BankTransactionFamilyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionFamilyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies Bank Transaction Family Code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="RRCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivableRealTimeCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Receivable Real Time Credit Transfer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IRCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayableRealTimeCreditTransfers</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payable Real Time Credit Transfers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiscellaneousCreditOperations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Miscellaneous Credit Operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MDOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiscellaneousDebitOperations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Miscellaneous Debit Operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BankTransactionSubFamilyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BankTransactionSubFamilyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies Bank Transaction Sub Family Code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="SDVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SameDayValueCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Same Day Value Credit Transfer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FICT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial Institution Credit Transfer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CBPR_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CBPR_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount39__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount39__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashBalance8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashBalance8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to define the balance details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType13__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money of the cash balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance is a credit or a debit balance. 
Usage: A zero balance is considered to be a credit balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dt" type="DateAndDateTime2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the date (and time) of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime2Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTime2Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="HVPSPlus_DateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BkToCstmrStmt" type="BankToCustomerStatementV08"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryDetails9__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryDetails9__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction(s) and/or batched entries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxDtls" type="EntryTransaction10__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the underlying transaction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryStatus1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryStatus1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an entry on the books of the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalEntryStatus1Code_fixed">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entry status, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntryTransaction10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryTransaction10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Refs" type="TransactionReferences6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">References</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdAgts" type="TransactionAgents5__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedAgents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the agents related to the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact8NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact8NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 8 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBalanceSubType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalBalanceSubType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance sub-type, as published in an external balance sub-type code list.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBalanceType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalBalanceType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance type, as published in an external balance type code set.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBankTransactionDomain1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalBankTransactionDomain1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PMNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PMNT</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEntryStatus1Code_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalEntryStatus1Code_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BOOK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification18__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification18__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIDec2014Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact8NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GroupHeader81__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GroupHeader81__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="CBPR_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the account servicing institution, and sent to the account owner or the party authorised to receive the message, to unambiguously identify the message.
Usage: The account servicing institution has to make sure that MessageIdentification is unique per account owner for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the message.

Usage: The pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportEntry10__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportEntry10__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on an entry in the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the entry is a credit or a debit entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="EntryStatus1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of an entry on the books of the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BookgDt" type="DateAndDateTime2Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BookingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when an entry is posted to an account on the account servicer's books.

Usage: Booking date is the expected booking date, unless the status is booked, in which case it is the actual booking date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValDt" type="DateAndDateTime2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which assets become available to the account owner in case of a credit entry, or cease to be available to the account owner in case of a debit entry.
Usage: If entry status is pending and value date is present, then the value date refers to an expected/requested value date.
For entries subject to availability/float and for which availability information is provided, the value date must not be used. In this case the availability component identifies the number of availability days.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkTxCd" type="BankTransactionCodeStructure4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankTransactionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements used to fully identify the type of underlying transaction resulting in an entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtryDtls" type="EntryDetails9__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntryDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionAgents5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionAgents5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides further details on the agents specific to the individual transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstgAgt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstdAgt" type="BranchAndFinancialInstitutionIdentification6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReferences6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReferences6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctSvcrRef" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique reference, as assigned by the account servicing institution, to unambiguously identify the instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstrId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by an instructing party for an instructed party, to unambiguously identify the instruction.

Usage: The instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UETR" type="UUIDv4Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UETR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Universally unique identifier to provide an end-to-end reference of a payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the securities transaction as known by the securities account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UUIDv4Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UUIDv4Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universally Unique IDentifier (UUID) version 4, as described in IETC RFC 4122 "Universally Unique IDentifier (UUID) URN Namespace".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
