bokworks-generate-xml/src/main/resources/static/input/bokwire/20240404/BOK_NEWUGs_v_1_0_BOK_admi_006_001_01_ResendRequest_20240404_0656_iso15enriched.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Bank of Korea (BOK)
Collection: BOK_NEWUGs_v.1.0
Usage Guideline: BOK_admi.006.001.01_ResendRequest
Base Message: admi.006.001.01
Date of publication: 18 March 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_vMY6AOTCEe6zV9NYqj4DxA/_vMY6A-TCEe6zV9NYqj4DxA
Description: BOK : A Resend Request message is sent by BOK-Wire+ participant to BOK to request a duplicate of one or more messages previously sent or received by the BOK-Wire+ participant.
The resend request message is used to request FIToFICustomerCreditTransfer (pacs.008), FinancialInstitutionCreditTransfer (pacs.009), PaymentReturn (pacs.004), PaymentCancellationRequest (camt.056), ResolutionOfInvestigation (camt.029), CreditorPaymentActiviationRequest (pain.013) or CreditorPaymentActivationRequestStatusReport (pain.014).

In response to a (successful) Resend Request message, the BOK will deliver a duplicate of the original message that is being requested (e.g., pacs.008). The duplicate of the requested message will contain the original business application header (head.001) captured in the Related component of the duplicate message BAH and the original ISO 20022 business message (e.g., pacs.008)  for the requested message flow from the BOK to the BOK-Wire+ participant.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-04-04T06:56:15+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.006.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BOK_SequenceNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_SequenceNumber</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:pattern value="[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BOK_TrafficTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BOK_TrafficTypeCode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="R">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Traffic received across the BOK-Wire+</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Traffic sent across the BOK-Wire+</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RsndReq" type="ResendRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="BOK_TrafficTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification36__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification using a proprietary scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="HVPSPlus_RestrictedFINXMax35Text_fixed">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HVPSPlus_DateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_DateTime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*(\+|-)((0[0-9])|(1[0-3])):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 1, and a maximum length of 35 characters, and limited to character set X, that is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HVPSPlus_RestrictedFINXMax35Text_fixed">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HVPSPlus_RestrictedFINXMax35Text_fixed</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="KRBOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KRBOK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="HVPSPlus_DateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType4Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification120Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PrtryId" type="GenericIdentification36__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification136__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType4Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType4Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtry" type="GenericIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ResendRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResendRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A system member or any parties authorised by them send a ResendRequest message to the Central System (such as the T2S platform). The purpose of this request is, that the requesting party wants to receive the “original” message once again. This might be caused through technical problems on the receiving side (message could not be received or processed or is missing in the message sequencing) or for archiving purposes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements to identify the resend message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RsndSchCrit" type="ResendSearchCriteria2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResendSearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to unambiguously identify the information to be resent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResendSearchCriteria2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResendSearchCriteria2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the message(s) which should be resent.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BizDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of the business day of the requested messages the resend function is used for.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqRg" type="SequenceRange1Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequenceRange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Independent counter for a range of message sequences, which are available once per party technical address.&#13;
Specifies the range of identification sequence numbers for a specific couple sender/receiver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgNmId" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the original bsiness message, which was delivered by the business sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FileRef" type="HVPSPlus_RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FileReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies the file, which was delivered by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rcpt" type="PartyIdentification136__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the recipient of the report message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SequenceRange1Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceRange1Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a choice of sequences.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FrToSeq" type="SequenceRange1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromToSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Particular sequence range specified between a start sequence and an end sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SequenceRange1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SequenceRange1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a range of sequences from a start sequence to an end sequence.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrSeq" type="BOK_SequenceNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start sequence of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToSeq" type="BOK_SequenceNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End sequence of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
